#menu{
    float: right;
    background-color: chocolate;
    width: 20%;
    height: 300px;

}
#conteudo {
    float: left;
    width: 80%;
    height: 300px;
    background-color:rgb(184, 115, 11);
    color: red;

}
#rodape {
    width: 100%;
    height: 40px;
    color: white;
    background-color: darkorange;
    clear: both;
}
.secao{
padding-bottom: 20px;
}
#menu h1{
    color: red;
}

div.secao > p { 
    color:aliceblue;
}
div.secao + p {
    color: brown;
}
div.secao ~ p {
    text-decoration: underline;
}

li:hover{
    background-color: blue;
}
input:focus{
    border:1px solid red;
}